*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: #141414;
    color: #fff;
    overflow-x: hidden;
    width: 100vw;
}


.articles{
    width: 100%;
    height: 500px;
    position: relative;
    bottom: 35vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.fetch{
    background-color: #5674ff;
    padding: 100px;
}

.fetch1{
    background-color: rgb(101, 31, 70);
    padding: 100px;
}

.fetch2{
    background-color: rebeccapurple;
    padding: 100px;
}

.section2{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 6vh;
}
.serv {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    padding-top: 5vh;
}


    .serv-container {
        display: flex;
        justify-content: center;
        width: 90%;
        gap: 4%;
}

.navbar{
    background-color: #141414;
    display: flex;
    justify-content:  center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 10vh;
}

.container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}


#nav-logo{

    background-color: #ff8177;
    background-image: linear-gradient(to top , #ff0844 20% , #ffb199 80%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color:transparent;
    -moz-text-fill-color:transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2rem;
    
}


.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
   

}

.nav-item{
    height: 80px;

}

.nav-links{
    color: #fff;
    display: flex;
    align-items:center;
    justify-content: end;
    text-decoration: none;
    padding: 0 4rem;
    height: 100%;
    transition: 0.5s;
}


.nav-btn{
 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
    width: 100%;

}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #f77062;
    color:#fff;
    transition: 0.5s;
}

.button:hover{
    padding: 25px ;
    border-radius: 20%;
    background-color: #24252a;
    
}


.nav-links:hover{
    color: #f77062;
}



.main{
    height: 90vh;
}



@media screen and (max-width: 850px){
    .container{
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        padding: 0;
    }  
    
    
    
    .nav-menu{
        
        display: grid;
        grid-template-columns: auto ;
        justify-items: center;
        text-align: center;
        position: absolute;
        width: 100%;
        height: 600px;
        z-index: -1;
        margin: 0;
        top: -1000;
        opacity: 0;
       
        
      }

      .nav-menu.active{
        background: #141414;
        top: 100%;
        transition: all 0.3s ease;
        z-index: 99;
        font-size: 2rem;
        opacity: 1;
      }


      #nav-logo{
        padding-left: 25px;

      }

      .nav-toggle .bar{
       width: 25px;
       height: 3px;
       margin: 5px auto;
       transition: all 0.5s ease-in-out; 
       background: linear-gradient(to top , #ff0844 20% , #ffb199 80%);
    }

    .nav-item{
        width: 100%;
    }

    .nav-links{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
        
    }

    #mobile-menu{
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5% , 20%);
    }

    .button{
        width: 50%;
    }
   
    .nav-toggle .bar{

       display: block;
       cursor: pointer; 
       
     }

     #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
     }

     #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);

     }
     #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);

     }

     
}

    
   


/* Next section */ 






.main{
    background-color: #141414;
}

.main-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 80vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 60px;
}

.main-content h1 {
    font-size: 5rem;
    background-color:#ff8177;
    background-image: linear-gradient(to top , #ff0844 20% , #ffb199 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;

}

.main-content h2 {

    font-size: 2rem;
    background-image: linear-gradient(to top , #b721ff 20% , #21d4fd 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    
   

}

.main-content p{
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 750;
    color: #fff;

    
}

.main-btn{
    font-size: 2rem;
    margin-top: 20px;

    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background-image:linear-gradient(to top , #b721ff 0% , #21d4fd 70%);
    cursor: pointer;
    position: relative;
    transition: all 0.4s;
    width: 30vw;
}

.main-btn a{
    color: #fff;
    z-index: 2;
    position: relative;
    text-decoration: none;
}


.main-btn:hover{
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(#4837ff , #5674ff);
    transition: all 0.5s ease;
}
#main-img{
    height: 100%;
    width: 100%;
}




@media screen and (max-width: 850px) {

    .main-container{
        display: grid;
        grid-template-columns: auto;
        justify-self: center;
        align-items: center;
        width: 100%;
        height: 90vh;
        margin: 0 auto;
        transition: all 0.5s ease;
    }

    .main-content{
        text-align: center;
        margin-bottom: 4rem;
    }

    .main-content h1{
        font-size: 2.5rem;
        margin-top: 2rem;

    }
    .main-content h2{
        font-size: 3rem;
        margin-top: 1rem;
        
    }

    .main-content p{
        font-size: 1.5rem;
        margin-top: 1rem;
        
    }



    
}



/* Next section */ 

.serv{
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 120vh;
    padding-top: 5vh;
    
}

.serv h1{
    font-size: 3rem;
    background-size: 100%;
    background-image: linear-gradient(to top , #b721ff 30% , #21d4fd 70%);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    margin-bottom: 5vh;
}

.serv-container{
    display: flex;
    justify-content: center;

   
}

.serv-card{

    height: 300px;
    width: 100%;
    text-align: center;
    background-image: url(train1.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    transition: 0.3s ease-in;
    border-radius: 50px;
   
}


.serv-card:nth-child(2){
    height: 300px;
    width: 100%;
    text-align: center;
    background-image: url(train2.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    border-radius: 50px;
}
.serv-card:nth-child(3){
    height: 300px;
    width: 100%;
    text-align: center;
    background-image: url(train3.jpg);
    background-size: cover;
    position: relative;
    color: #fff;
    border-radius: 50px;
}

.serv h2{
   position: absolute;
   top: 90%;
   left: 30%;
   
}


.serv button{
    color: black;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 10px;
    background: #f77062 ;
    margin-top: 25px;
    cursor: pointer;
}


.serv-card:hover{
  width: 200vw;
  padding: 50px;
  transition: 0.3s ease-in;
  z-index: 5;
  border-radius: 0px;
}

.serv-card:nth-child(2):hover{
    width: 200vw;
    padding: 50px;
    transition: 0.3s ease-in;
    z-index: 5;
    border-radius: 0px;
  }

  .serv-card:nth-child(3):hover{
    width: 200vw;
    padding: 50px;
    transition: 0.3s ease-in;
    z-index: 5;
    border-radius: 0px;
  }




/* footer */ 

.footer-container{
    background-color:#141414;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items:center ;
   height: max-content;
   
   


}

.social-media{
    padding-bottom: 20px;
}



.footer-link-items{
    display: flex;
    gap: 50px;
    text-decoration: none;
    transition: all 0.5s;
   
    
}


.footer-link-items a{
   
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    
}


.footer-logos{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    transition: all 0.5s;
}

.footer-logos  a {
    background-image:linear-gradient(45deg, transparent 5%, #FF013C 5% ,#003554) ;
    font-size: 1.5rem;
    font-weight: 600;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}

#main-logo{

   background-image: linear-gradient(to top , #ff0844 20% , #ffb199 80%);
   font-size: 2rem;
   -webkit-background-clip: text;
   -webkit-text-fill-color:transparent;
   
}


@media screen and (max-width: 950px){

    .navbar{
        width: 100%;
        height: 5vh;
    }

    .main{
        height: 95vh;
    }

    .footer-container{
        padding-top: 60vh;
        background-color: #141414;
        transition: all 0.5s;
        height: max-content;
       
    }

    .footer-link-items{
        display: flex;
        gap: 20px;
        text-decoration: none;
        transition: all 0.5s;
        
    }
    .footer-logos{
        display: flex;
        gap: 5%;
        margin-top: 50px;
        transition: all 0.5s;
       
    }
    
    .social-media{
        padding-bottom: 20px;
        width: 100%;
    }


.fetch{
    background-color: #5674ff;
    padding: 100px;
}

.fetch1{
    background-color: rgb(101, 31, 70);
    padding: 100px;
}

.fetch2{
    background-color: rebeccapurple;
    padding: 100px;
}
.body1{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.section2{
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.serv-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10vh;
}
.serv-card{
    width: 100%;
}


.articles{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    gap: 4vh;

    height: 0;
    position: relative;
    bottom: 0vh;
}

p{
    text-align: center;
}
.serv h2 {
    position: absolute;
    top: 90%;
    left: 30%;
  
}

.social-media-wrap{
    width: 100%;
}
.serv{
    width: 100%;
    margin-bottom: 150%;
}
}


