*{
   
    margin: 0;
    padding: 0;

}





body{
    background-color: #141414;
    color: white;
    width: 100vw;
}


:root{
    --bg-cl:linear-gradient(to top , #25242a 20% , #555555 80%);
}


.cards{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 90px;
  margin-top: 20px;
  margin-bottom: 10%;
}

.card2{
  scale: 1.1;
  transition: all 0.4s;
}

.card2:hover{
  scale: 1.2;
}

.card1 , .card3{
  margin-top: 0px;
}




.container{
    width: 350px;
    height: 610px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    text-decoration: none;
    align-items: center;
    box-shadow: 5px 5px 10px #fff;
    transition: all 0.4s ease;

}

.container:hover{
  scale: 1.05;

  

}


.title{
    background-image:linear-gradient( #FF013C  ,#003554) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    padding-bottom: 90px;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: large;
   
    

    
}


h3{
  font-size: 3rem;
  background-image:linear-gradient( rgb(243, 211, 34)  ,black);
  -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}





.info{
    
    display: flex;
    flex-direction: column;
    
    
}

.price{
  
    padding-bottom: 0px;
    background-image: linear-gradient( #FF013C 5% ,#003554);
    border-radius: 5px;
    transition: all 0.4s ease;

}
.price:hover{
    color:black;
    scale: 1.05;
    


}

.list-info{
    text-align: start;
    padding-top: 60px;
    font-size: large;
    font-weight: 500;
    text-decoration:solid;
    list-style: none;

   

}






li{
    margin-bottom: 10px;
    font-size: 1.3rem;
    font-weight: 800;
    text-decoration: none;
    position: relative;
    
}

li::before{
  content: '\2714';
  background-image: linear-gradient( #FF013C 5% ,#003554);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

  position: absolute;
  left: -25px;
  top: 5px;
  
  
}

















.button-49{
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    width: fit-content;
    text-align: center;
    transition: all 0.4s ease;
    margin-bottom: 20px;
    
   
}

.button-49,
.button-49:after {
  width: fit-content;
  height: 76px;
  line-height: 78px;
  font-size: 20px;
  font-family: 'Bebas Neue', sans-serif;
  background: linear-gradient(45deg, transparent 5%, #FF013C 5% ,#003554);
  border: 0;
  color: #fff;
  letter-spacing: 3px;
  box-shadow: 6px 0px 0px #24252a;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-49:after {
  --slice-0: inset(50% 50% 50% 50%);
  --slice-1: inset(80% -6px 0 0);
  --slice-2: inset(50% -6px 30% 0);
  --slice-3: inset(10% -6px 85% 0);
  --slice-4: inset(40% -6px 43% 0);
  --slice-5: inset(80% -6px 5% 0);
  
  content: 'BUY MY PACKAGE';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
  text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
  clip-path: var(--slice-0);
}

.button-49:hover:after {
  animation: 1s glitch;
  animation-timing-function: steps(2, end);
  
}

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-20px, -10px);
    
  }
  10% {
    clip-path: var(--slice-3);
    transform: translate(10px, 10px);
  }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 10px);
  }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 5px);
  }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-5px, 0px);
  }
  50% {
    clip-path: var(--slice-3);
    transform: translate(5px, 0px);
  }
  60% {
    clip-path: var(--slice-4);
    transform: translate(5px, 10px);
  }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-10px, 10px);
  }
  80% {
    clip-path: var(--slice-5);
    transform: translate(20px, -10px);
  }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-10px, 0px);
  }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0);
  }
}

@media (min-width: 80px) {
  .button-49,
  .button-49:after {
    width: 100px;
    height: 50px;
    line-height: 30px;
  }
}



button{

}

.header{
  display: flex;
  gap: 500px;
}

.pricePage{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #141414;

}

a{
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

.ban{
  background-image: url('gym.jpg');
  background-size: 1500px 840px;
  width: 100%;
  height: 5vh;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: ease 0.8s;
  border-bottom: 0.05rem solid  #FF013C;
  
}

.ban:hover{
  background-image: url('gym.jpg');
  background-size: 1500px 840px;
  padding-bottom: 70vh;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

h4{
  font-size: 1.2rem;
  padding: 5px;
  background-image: linear-gradient( #FF013C 5% ,#141414);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;

}


.review{
  
}

@media screen and (max-width: 850px){



  .pricePage{
    width: 100vw;
  }

  .ban{
    width: 100vw;
    height: 10vh;
  }


  .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    margin-top: 30px;
  
  }

  .header{
    gap: 5%;
    height: 10vh;
  }

  .card1{
    scale: 0.9;
  }
  .card2{
    scale: 1;
  }
  .card3{
    scale: 0.9;
  }
}
